/*#test_note {
	position: relative;
	background: url(../img/Music-dotnote.svg) no-repeat; 
	height: 50px;
	width: 50px;
	background-size: contain;
}*/


* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #F8F1E9; 
	font-family: 'Lato', Arial, sans-serif;
	margin: 0;
}

html, body {
	height: 100%;
}

div {
	display: block;
}

.container > header {
margin: 0 auto;
padding: 2em;
text-align: center;
background: rgba(0,0,0,0.01);
}

.component {
	position: relative;
	margin-bottom: 3em;
	height: 15em;
	background: rgba(0,0,0,0.05);
	font-family: 'Lato', Arial, sans-serif;
}

.component > h2 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	opacity: 0.1;
	cursor: default;
}

/*#main-header {
	width: 100%;
	background: #7f8c8d;
}

#main-title {
	margin: 0;
	padding: 10px 40px;
	border: 10px double #f9f1e9;
	color: #f9f1e9;
	text-align: center;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
	top: 50%;
	left: 50%;
/*	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);}*/
.cn-button {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 11;
	margin-top: -2.25em;
	margin-left: -2.25em;
	padding-top: 0em;
	width: 4.5em;
	height: 4.5em;
	border: none;
	border-radius: 50%;
	background: none;
	background-color: #fff;
	color: #968574;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
/*	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus{
  background-color: #222;
}

.cn-wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 10;
	margin-top: -13em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
/*	background: transparent;
	opacity: 0;*/
	/*below is for transition that closes/hides nav behind button*/
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

.cn-wrapper:after {
/*	background-color: #F8F1E9;
	opacity: 0;*/
	color: transparent;
	content: ".";
	display: block;
	font-size: 2em;
	width: 6.2em;
	height: 6.2em;
	position: absolute;
	left: 50%;
	margin-left: -3.1em;
	top: 50%;
	margin-top: -3.1em;
	border-radius: 50%;
	z-index: 12;
}

.cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(84deg) skew(60deg);
	-moz-transform: rotate(84deg) skew(60deg);
	transform: rotate(84deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

li {
  position: absolute;
  position: fixed;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
/*  border-radius: 50%;*/
  background: transparent;
  background: -webkit-radial-gradient(transparent 35%, #E2DDD9 35%);
  background: -moz-radial-gradient(transparent 35%, #E2DDD9 35%);
  background: radial-gradient(transparent 35%, #E2DDD9 35%);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(-84deg) skew(-60deg) scale(1);
  -moz-transform: rotate(-84deg) skew(-60deg) scale(1);
  transform: scale(1);
  pointer-events: auto;
}


/* a  {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(-84deg) skew(0);
	transform-origin: 100% 100%;
}*/
/*below seemed to be working somewhat*/
a {
position: relative;
display: block;
font-size: .5em;
font-weight: 700;
top: -4em;
text-align: left;
text-transform: uppercase;
transform: rotate(-84deg) skew(30deg);
transform-origin: 100% 100%;
}
/*or -
a {
position: relative;
width: 40%;
display: block;
font-size: .5em;
top: 17em;
font-weight: 700;
text-align: center;
text-transform: uppercase;
transform: rotate(-184deg) skew(-50deg);
transform-origin: 100% 100%;
}
*/

 a:hover,
 a:active,
 a:focus {
	background: radial-gradient(transparent 35%, #449e6a 35%);
}

.opened-nav {
  border-radius: 50%;
  opacity: 1;
  transition: all .3s ease;
  transform: scale(1);
  pointer-events: auto;
}

.opened-nav li {
  transition: all .3s ease .3s;
}

.opened-nav li:first-child{
    -webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);    
    transform: rotate(-30deg) skew(60deg);
}

.opened-nav li:nth-child(2) {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);    
    transform: rotate(0deg) skew(60deg);
}
.opened-nav li:nth-child(3) {
    -webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);    
    transform: rotate(30deg)skew(60deg);
}

.opened-nav li:nth-child(4){
    -webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
    transform: rotate(60deg) skew(60deg);
}

.opened-nav li:nth-child(5){
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg) skew(60deg);
}

.opened-nav li:nth-child(6){
    -webkit-transform: rotate(115deg);
	-moz-transform: rotate(115deg);
    transform: rotate(120deg) skew(60deg);
}
.opened-nav li:nth-child(7){
    -webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);    
    transform: rotate(150deg) skew(60deg);
}
.opened-nav li:nth-child(8){
    -webkit-transform: rotate(165deg);
    -moz-transform: rotate(165deg);
    transform: rotate(180deg) skew(60deg);
}


/*.circ-anch {
	position: absolute;
	-ms-transform: skew(-67.5deg);
    -webkit-transform: skew(-67.5deg); 
    transform: skew(-67.5deg);
    -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
	font-family: Esteban, serif; 
	text-align: center;

}*/



/*.sample {
	background-color: #E2DDD9;
	background-color: #F8F1E9;
	font-family: Esteban, serif;
}*/

