* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Italiana', serif;
	margin: 2em;
}

h2 {
	overflow: hidden;
	width: 100%;
	padding-left: 1%;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 8em;
	cursor: default;
	line-height: 1em;
}

p {
	font-size: 1.25em;
	padding: 2% 0 0 5%;
}

a {
	color: #1b325f;
}

p.buzz_body::first-letter {
	font-size: 1.75em;
	vertical-align: sub;
}

h3.heading {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: #4E4D4A;
	border-bottom: 1px solid #c6c6c6;
	padding-bottom: .25em;
	margin-bottom: 1.5em;
	margin-top: .75em;
}

.main_nav {
	margin-top: 2em;
	font-size: .75em;
	text-align: center;
}

.main_nav a {
	padding-bottom: .1em;  
	padding-left: 0;
	margin-right: .75em;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 200;
}

.vertical {
	width: 2px;
	color: #909d9e;
	background-color: #909d9e;
	height: 1em;
 	margin: 0px .25em;
  	border: 0px;
	display: inline-block;
	vertical-align: -10%;
}

.faded {
	color: #7B8F8A;
}

.here {
	color: #018790;
	border-bottom: none;
	cursor: text;
}

.not_here {
	border-bottom: 1px solid #D8D8D8;
}


.contact_info {
	margin: 1em 0 0 0;
	text-align: center;
	color: #506266;
	line-height: 2em;
	font-size: 1.25em;
}

.buzz_src {
	font-size: .75em;
	text-transform: lowercase;
}

.vid-select {
	cursor: pointer;
	margin-right: 1em;
	text-decoration: underline;
	display: 
}

.hide {
	display: none;
}

.main-pic {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
  	flex-flow: row nowrap;
  	-webkit-flex-flow: row nowrap;
  	justify-content: center;
}

.flex-pic-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: center;
	margin: 2em;
}

.mainImg {
	height: 400px;
	width: 610px;
	background-size: cover;
	overflow: hidden;
  	justify-content: center;
  	margin: 0 auto;
}

.equip {
	font-size: 1.25em;
	line-height: 2em;
}

.pdf {
	color: #506266;
}

.thumbnail {
	height: 100px;
	width: 100px;
	background-size: cover;
	background-color: blue;
	cursor: pointer;
}

.thumbnail:hover {
	opacity: .5;
}

#main_body {
	margin: 0;
	padding: 0;
	list-style: none;
}

#name_banner {
	position: relative;
	margin-top: 9em;
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
}

#name {
	background: #a9c1d9;
}

#name:first-child:first-letter {
	float: left;
	font-size: 2.5em;
	line-height: .75em;
}

#sub {
	font-size: 2.65em;
	margin: -1.5em 0 0 2.5em;
	font-style: italic;
	color: #909d9e;
	background-color: #fff;
}

#top_nav {
	text-align: right;
	margin: 1em;
}

#buzz_content{
	font-size: 1.5em;
} 


#about_img {
	float: left;
	margin: 0 2em 1em 0;
}

#playa {
	margin: 0 auto;
	background-color: #031634;
	width: 640px;
	height:360px;
	color: white;
	font-family: 'Dancing Script', Arial, serif;
	font-size: 6em;
	text-align: center;
	line-height: 360px;
}

#vid-list {
	color: #506266;
	list-style-type: none;
	font-size: 1.25em;
	margin: 2em; 
	line-height: 1.5em;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

#gig_body {
	margin: .5em;
}

#slider {
  margin: 0 0 1.75em;
}

#trumpet-pic {
	font-size: 1.25em;
}

#equip_img {
	transform: rotate(90deg);
	height: 12em;
}

@media (max-width: 900px) {

	h2 {
		font-size: 6em;
	}

	#name:first-child:first-letter {
	float: none;
	font-size: 1em;
	line-height: 1em;
	}

	#initial {
		display: inline-block; 
	}

    #last_name_frag {
    	display: none;
    }

    #sub {
	  font-size: 1.5em;
	  text-align: center;
    }


	}

