* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Italiana', serif;
	margin: 2em;
}

a {
	color: #1b325f;
}

#gig_body {
	margin: .5em;
}

#buzz_content{
	font-size: 1.5em;
} 

p.buzz_body::first-letter {
	font-size: 1.75em;
	vertical-align: sub;
}

.buzz_src {
	font-size: .75em;
	text-transform: lowercase;
}

h3.heading {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: #4E4D4A;
	border-bottom: 1px solid #c6c6c6;
	padding-bottom: .25em;
	margin-bottom: 1.5em;
	margin-top: .75em;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
  	align-items: stretch;
  	align-content: center;
  	font-size: 3em;
  	color: #506266;
}

.flex-equip-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	flex-flow: row wrap;
  	font-size: 1.25em;

}

.flex-item {
	background-color: #e9f2f9;
	text-align: center;
	margin: .1em;
	padding: .5em .25em;
	min-width: 3em;
	min-height: 2.5em;
}

#trumpet-pic {
	font-size: 1.25em;
}


.equip {
	font-size: 1.25em;
	line-height: 2em;
}

#cell-2, #cell-4, #cell-6, #cell-8, #cell-10, #cell-12, #cell-13, #cell-14 {
	-webkit-box-flex: 0 0 auto;
	width: auto;
	webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#cell-5, #cell-7 {
	-webkit-box-flex: 1 0 auto;
	width: 20%;
	webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

#cell-1, #cell-9, #cell-15 {
	-webkit-box-flex: 2 0 auto;
	width: 20%;
	webkit-flex: 2 0 auto;
	-ms-flex: 2 0 auto;
	flex: 2 0 auto;
}

#cell-3, #cell-11 {
	-webkit-box-flex: 3 0 auto;
	width: 20%;
	webkit-flex: 3 0 auto;
	-ms-flex: 3 0 auto;
	flex: 3 0 auto;
}

a {
	color: #1b325f;
}


.vertical {
	width: 2px;
	color: #909d9e;
	background-color: #909d9e;
	height: 1em;
 	margin: 0px .25em;
  	border: 0px;
	display: inline-block;
	vertical-align: -10%;
}

.contact_info {
	margin: 3em 0 0 0;
	text-align: center;
	color: #506266;
	line-height: 2em;
}

#calendar_nav {
  text-align: left;
  margin-bottom: 3em;
}

.main_nav {
	margin-top: 2em;
	font-size: .75em;
	text-align: center;
}

.main_nav a {
	padding-bottom: .1em;  
	padding-left: 0;
	margin-right: .75em;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 200;
}

.faded {
	color: #7B8F8A;
}

.here {
	color: #018790;
	border-bottom: none;
	cursor: text;
}

.not_here {
	border-bottom: 1px solid #D8D8D8;;
}

#about_img {
	float: left;
	margin: 0 2em 1em 0;
}

#playa {
	margin: 0 auto;
	background-color: #031634;
	width: 640px;
	height:360px;
	color: white;
	font-family: 'Dancing Script', Arial, serif;
	font-size: 6em;
	text-align: center;
	line-height: 360px;
}

#vid-list {
	color: #506266;
	list-style-type: none;
	font-size: 1.25em;
	margin: 2em; 
	line-height: 1.5em;
	text-align: center;	
}

.vid-select {
	cursor: pointer;
}

.hide {
	display: none;
}

.main-pic {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
  	flex-flow: row nowrap;
  	justify-content: center;
}

.flex-pic-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: center;
	margin: 2em;
}

.mainImg {
	height: 400px;
	width: 610px;
	background-size: cover;
	overflow: hidden;
  	justify-content: center;
  	margin: 0 auto;
}

#center {
	height: 400px;
	width: 610px;
  	margin: 0 auto;
}

.thumbnail {
	height: 100px;
	width: 100px;
	background-size: cover;
	background-color: blue;
	cursor: pointer;
}

.thumbnail:hover {
	opacity: .5;
}

#pic_nav {
	margin-top: .5em;
}

.controls {
	font-size: 3em;
	padding: .25em;
	cursor: pointer;
	color: #7a8c89;
}

#hidden_pics {
	display: none;
}

#equip_img {
	transform: rotate(90deg);
	height: 12em;
}